#game-grid {
    /*width: 90%; */
    border-collapse: collapse; 

    /* To make the table centered */
    margin-left: auto; 
    margin-right: auto; 
}

#game-grid td {
    height:15px;
    width: 15px; 
    border: 1px solid black; 
}

#game-grid .dead-cell {
    background-color: black;
}

/*#game-grid td {
    display: block; 
    float: left; 
    width: 32%; 
    padding-bottom: 32%; 

    border: 1px solid black; 
}

#game-grid td div {
    position: absolute; 
}


#game-grid, #game-grid tr, #game-grid tbody {
    display: block;  
    width: 100%; 
} */