#game-grid {
    /*width: 90%; */
    border-collapse: collapse; 

    /* To make the table centered */
    margin-left: auto; 
    margin-right: auto; 
}

#game-grid td {
    height:15px;
    width: 15px; 
    border: 1px solid black; 
}

#game-grid .live-cell {
    background-color: black;
}

/* 
 * Tooltips 
 * See https://www.w3schools.com/css/css_tooltip.asp
 */
.css-tooltip {
    position: relative;
    display: inline-block; 
    border-bottom: 1px dotted black;
}

.css-tooltip .css-tooltip-text {
    visibility: hidden;
    width: 120px;
    bottom: 100%; 
    left: 50%; 
    margin-left: -60px; /* half of the width */
    background-color: black;
    color: #fff; 
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

/* Adding a tooltip arrow */
.css-tooltip .css-tooltip-text::after {
    content: " "; 
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%; 
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


.css-tooltip:hover .css-tooltip-text {
    visibility: visible;
}
