#game-grid {
    /*width: 90%; */
    border-collapse: collapse; 

    /* To make the table centered */
    margin-left: auto; 
    margin-right: auto; 
}

#game-grid td {
    height:15px;
    width: 15px; 
    border: 1px solid black; 
}

#game-grid .live-cell {
    background-color: black;
}

/* 
 * Tooltips 
 * See https://stackoverflow.com/questions/13845003/tooltips-for-cells-in-html-table-no-javascript
 *  => https://stackoverflow.com/a/41705322 
 */

.css-tooltip-grid {
    position: relative;
}

.css-tooltip-grid-content {
    display: none;
    position: absolute;
    z-index: 100;

    width: 120px;
    bottom: 135%; 
    left: 50%; 
    margin-left: -60px; /* half of the width */
    background-color: black;
    color: #fff; 
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}

/* Adding a tooltip arrow */
.css-tooltip-grid .css-tooltip-grid-content::after {
    content: " "; 
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%; 
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.css-tooltip-grid:hover span.css-tooltip-grid-content {
    display: block;
}
