#game-grid {
    /*width: 90%; */
    border-collapse: collapse; 

    /* To make the table centered */
    margin-left: auto; 
    margin-right: auto; 
}

#game-grid td {
    height:15px;
    width: 15px; 
    border: 1px solid black; 
}

#game-grid .live-cell {
    background-color: black;
}

/* Tooltips */
.css-tooltip {
    position: relative;
    display: inline-block; 
    border-bottom: 1px dotted black;
}

.css-tooltip .css-tooltip-text {
    visibility: hidden;
    width: 120px;
    bottom: 100%; 
    left: 50%; 
    margin-left: -60px; /* half of the width */
    background-color: black;
    color: #fff; 
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.css-tooltip:hover .css-tooltip-text {
    visibility: visible;
}
